$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;
$_1600: 1600;
$_1200: 1200;
$_992: 992;
$_768: 768;
$_576: 576;


%OpenSans {
    font-family: 'OpenSans', sans-serif;
}

%Ruda {
    font-family: 'Ruda', sans-serif;
}

%radius {
    border-radius: 6px;
}

%cover {
    object-fit: cover;
}

%transition {
    transition: transform 0.4s, fill 0.4s, color 0.4s, background-color 0.4s, opacity 0.4s;
}

%textoverflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}