@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.header {

    &__top {
        padding: 14px;
        color: $white;
        background-color: $dark-800;
        letter-spacing: 0.03em;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__bottom {
        background-color: $green-900;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
    }

    &__catalog-btn {
        position: relative;
        padding: 12px 38px 12px 61px;
        font-weight: 600;
        line-height: 1.9;
        letter-spacing: 0.3px;
        color: $green-900;
        border-radius: 6px;
        background-color: $white;
        transition: background-color 0.4s;

        &:hover,
        &:active {
            background-color: #E0EDCF;
            border-radius: 6px 6px 0 0;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            background-repeat: no-repeat;
        }

        &::before {
            left: 18px;
            width: 25px;
            height: 17px;
            background-image: url('../images/svg/nav_icon.svg');
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }

        &::after {
            right: 18px;
            width: 8px;
            height: 8px;
            background-image: url('../images/svg/arrow.svg');
        }
    }
}

.menu {
    display: flex;
    text-transform: uppercase;

    &__item {
        @extend %transition;

        &--right {
            margin-right: 24px;
        }

        &--delivery {
            padding-left: 45px;
            margin-right: 48px;
            background-image: url('../images/svg/icon-address.svg');
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: contain;
            @extend %transition;

            &:hover {
                opacity: 0.7;
            }
        }

        &--phone {
            padding-left: 34px;
            background-image: url('../images/svg/tel.svg');
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: contain;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__link {
        line-height: 1.8;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.form-search {
    position: relative;
    max-width: 576px;
    width: 100%;
    padding-right: 158px;
    margin-right: 21px;


    &__icon {
        position: absolute;
        top: 50%;
        left: 2px;
        z-index: 5;
        width: 44px;
        height: 44px;
        background-image: url('../images/svg/search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
        background-color: transparent;
        border-radius: 3px;
        transform: translateY(-50%);

        &:active {
            background-color: rgba($silver-600, 0.1);
        }
    }

    &__input {
        position: relative;
        width: 100%;
        padding: 10px 0 10px 51px;
        line-height: 2;
        color: $silver-600;
        border-radius: 6px 0 0 6px;
        border: 1px solid transparent;

        &::placeholder {
            color: $silver-600;
        }

        &:focus {
            border: 1px solid #63A60E;
            box-shadow: 0 0 0 3px #E0EDCF;
            border-radius: 3px;
            z-index: 4;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 10px 52px;
        font-weight: 600;
        line-height: 2;
        background-color: $dark-800;
        border: 1px solid transparent;
        border-radius: 0 6px 6px 0;
        text-transform: uppercase;

        &:focus {
            z-index: 3;
            border: 1px solid transparent;
            box-shadow: 0 0 0 4px rgba($white, 0.5);
        }

        &:hover {
            background-color: rgba(49, 53, 43, 0.85);
            box-shadow: none;
        }

        &:active {
            color: rgba($white, 0.5);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.user {
    display: flex;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 13px;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 7px 11px;
    }

    &__favourite {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 7px 9px 7px 9px;
    }

    &__basket {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 7px 9px 7px 9px;
    }

    &__number {
        position: absolute;
        top: 0;
        right: 30px;
        padding: 3px 3px;
        font-size: 10px;
        font-weight: 600;
        color: $red-900;
        background-color: $white;
        border-radius: 50%;
        text-align: center;
    }
}

// SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER SLIDER

.slick-track {
    display: flex;
}

.slider-discount {
    position: relative;
    max-height: 600px;

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 21px;
        border-radius: 6px;
        background-color: $white-08;
        border: 1px solid transparent;
        transform: translateY(-50%);
        cursor: pointer;
        @extend %transition;

        &--prev {
            position: absolute;
            top: 50%;
            left: 3%;
            z-index: 1;
        }

        &--next {
            position: absolute;
            top: 50%;
            right: 3%;
            z-index: 1;
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
            border: 1px solid $green-900;
        }

        &:hover {
            fill: $green-900;
            background-color: #E0EDCF;
            box-shadow: none;
        }

        &:hover path {
            fill: $green-900;
        }

        &:active path {
            fill: $green-900;
        }
    }



    &__list {
        width: 100%;
        height: 100%;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 600px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__item-content {
        padding: 18px 26px;
        max-width: 1290px;
        width: 100%;
        background-color: rgba($white, 0.8);
        border-radius: 6px;
        transform: translate(-50% -50%)
    }

    &__title {
        @extend %Ruda;
        margin-bottom: 12px;
        font-size: 60px;
        font-weight: 900;
        color: $dark-500;
        text-transform: uppercase;
    }

    &__red {
        display: block;
        color: $red-900;
    }

    &__text {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.4;
        color: $dark-500;
    }

    &__button {
        padding: 12px 24px;
        line-height: 3;
        font-size: 18px;
        background-color: $green-900;
        border-radius: 6px;
    }
}

// ADVANTAGES ADVANTAGES ADVANTAGES ADVANTAGES ADVANTAGES

.advantages {
    background-color: $silver-100;
    padding: 49px 15px 28px;

    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 923px;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        max-width: 264px;
        width: 100%;
        padding-left: 74px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 50px 50px;
    }

    &__lable {
        margin-bottom: 6px;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 600;
    }

    &__text {
        font-weight: 400;
        line-height: 1.4;
        @extend %textoverflow;
    }
}

// PRODUCTS PRODUCTS PRODUCTS PRODUCTS PRODUCTS

.products {
    text-align: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -15px 33px;
    }

    &__item {
        max-width: 300px;
        min-height: 409px;
        margin: 15px 15px;
        border-radius: 6px;
    }

    &__btn {
        padding: 11px 23px;
        margin-bottom: 72px;
        font-size: 18px;
        color: $green-900;
        background-color: $white;
        border: 1px solid $green-900;
        border-radius: 6px;

        &:hover {
            color: $green-900;
            background-color: #EFF6E7;
        }
    }
}

.product-card {
    position: relative;
    height: 100%;
    padding: 57px 18px 50px 18px;
    text-align: left;
    background-color: $white;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    @extend %transition;

    &--promo {
        display: flex;
        padding: 12px;
        min-height: 0;
    }

    &:hover {
        border: 1px solid #63A60E;
    }

    &__badges {
        max-width: 100px;
        position: absolute;
        top: 7px;
        left: 12px;
    }

    &__badge {
        display: inline-block;
        margin-bottom: 6px;
        padding: 3px 6px;
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        color: $white;
        border-radius: 6px;
        text-transform: uppercase;

        &--new {
            background-color: $green-900;
        }

        &--discount {
            background-color: $red-900;
        }

        &--hit {
            background-color: $orange-900;
        }
    }

    &__heart {
        position: absolute;
        top: 11px;
        right: 6px;
        padding: 6px;
        background-color: transparent;
        @extend %transition;

        &:hover path {
            fill: #FFB800;
        }
    }

    &__icon--basket {
        width: 16px;
        height: 16px;
    }

    &__img {
        margin-bottom: 18px;
        object-fit: cover;

        &--promo {
            margin: 0 12px 0 0;
            object-fit: contain;
        }
    }

    &__lable {
        display: block;
        max-height: 57px;
        margin-bottom: 10px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 0.03em;
        @extend %textoverflow;
        @extend %transition;

        &:hover {
            opacity: 0.5;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        position: absolute;
        left: 20px;
        bottom: 17px;
        font-weight: 400;

        &--promo {
            position: absolute;
            left: 124px;
            bottom: 5px;
        }
    }

    &__price-old {
        position: relative;
        color: $silver-600;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 9px;
            width: 100%;
            height: 1px;
            background-color: $silver-600;
            transform: rotate(-14.99deg);
        }
    }

    &__price-new {
        display: block;

        &--promo {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
        }
    }

    &__availability {
        font-size: 10px;
        text-transform: uppercase;

        &--available {
            color: $green-900;
        }

        &--ends {
            color: $red-900;
        }

        &--unavailable {
            color: $silver-600;
        }
    }

    &__basket {
        position: absolute;
        right: 18px;
        bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        background-color: $green-900;
        border-radius: 3px;
    }

    &__star {
        position: absolute;
        right: 14px;
        bottom: 12px;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 1;
    }
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;

    &__item:not(:last-child) {
        margin-right: 24px;
    }

    &__button {
        position: relative;
        padding: 12px 0;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: $dark-500;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;


        &--promo {
            letter-spacing: 0.1em;
        }

        &:hover {
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 8px;
                width: 100%;
                height: 3px;
                background-color: #E0EDCF;
            }
        }
    }
}

.banners {
    display: flex;

    &__item {
        flex-basis: 24%;
        padding: 76px 0 76px 32px;
        background-size: cover;
        text-align: left;
        text-transform: uppercase;
        border-radius: 3px;
    }

    &__item:first-child {
        flex-basis: 51%;
        color: $white;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__item:first-child &__title {
        max-width: 400px;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    }

    &__item:first-child &__lable &__link {
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }

    &__item:first-child &__link {
        border-bottom: 2px solid $white;
    }

    &__lable {
        margin-bottom: 18px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.1em;
    }

    &__title {
        max-width: 200px;
        margin-bottom: 12px;
        font-size: 30px;
        @extend %Ruda;
        font-weight: 600;
    }

    &__link {
        display: inline-block;
        padding-bottom: 6px;
        font-weight: 700;
        border-bottom: 2px solid $dark-900;
        @extend %transition;

        &:hover {
            opacity: 0.5;
        }
    }
}

// PROMO PROMO PROMO PROMO PROMO PROMO PROMO

.promo {
    background-color: $silver-100;
    text-align: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -15px 29px;
    }

    &__item {
        max-width: 300px;
        width: 100%;
        margin: 15px 15px;
        border-radius: 6px;
    }

    &__btn {
        padding: 12px 24px;
        font-size: 18px;
        letter-spacing: 0.3px;
        background-color: $green-900;
        border-radius: 6px;
    }
}

// NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS 

.news {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__link {
        padding: 0 0 6px 0;
        font-weight: 700;
        color: $green-900;
        background-color: transparent;
        border-bottom: 2px solid $green-900;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @extend %transition;

        &:hover,
        &:active {
            color: #4D800C;
            border-bottom: 2px solid #4D800C;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;
    }

    &__item {
        flex-basis: 410px;
        border-radius: 6px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);

        &:hover .news__article-title {
            color: $green-900;
        }
    }

    &__article {
        position: relative;
    }

    &__date {
        position: absolute;
        top: 0;
        left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 65px;
        width: 100%;
        padding: 18px 0 6px 0;
        background-color: $white;
        border-radius: 0 0 4px 4px;
        text-align: center;
    }

    &__date-month {
        display: block;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__date-day {
        @extend %Ruda;
        font-size: 30px;
        font-weight: 600;
    }

    &__img {
        border-radius: 6px 6px 0 0;
    }

    &__article-title {
        max-height: 106px;
        margin: 17px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        @extend %transition;
        @extend %textoverflow;
    }
}

.brands {

    &__list {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 55px;
    }

    &__item {}

    &__link {
        width: 100%;
        height: 100%;
    }

    &__img {
        opacity: 0.5;
        @extend %transition;

        &:hover {
            opacity: 1;
        }
    }
}


// FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER

.footer {
    line-height: 1.4;
    color: $white;
    background-color: $dark-800;

    &__logo {
        display: block;
        padding: 29px 0;
    }

    &__inner {
        display: flex;
        column-gap: 150px;
        margin-bottom: 30px;
    }

    &__email-item {
        max-width: 306px;
    }

    &__text {
        margin-bottom: 18px;
        line-height: 1;
        font-weight: 400;
    }

    &__form {
        min-width: 306px;
        width: 100%;
    }

    &__contacts-item {
        margin-bottom: 18px;
    }

    &__contacts-link {
        font-weight: 400;
        @extend %transition;

        &:hover {
            opacity: 0.7;
        }
    }

    &__link {
        @extend %transition;

        &:first-child {
            margin-right: 24px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__img {
        display: inline-block;
    }
}

.form-emale {
    position: relative;
    padding-right: 122px;

    &__input {
        position: relative;
        width: 100%;
        padding: 10px 15px;
        line-height: 1;
        color: $silver-600;
        border: 1px solid transparent;
        border-radius: 6px 0 0 6px;

        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
            border: 1px solid $green-900;
            z-index: 3;
        }

        &::placeholder {
            color: $silver-600;
        }
    }

    &__button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 11px 15px;
        font-size: 12px;
        font-weight: 700;
        color: $white;
        background-color: $green-900;
        border-radius: 0 6px 6px 0;
        text-transform: uppercase;
        @extend %transition;

        &:focus {
            box-shadow: 0 0 0 4px #E0EDCF;
        }

        &:hover {
            background-color: #4D810C;
            box-shadow: none;
        }

        &:active {
            color: rgba($white, 0.5);
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.copyright {
    border-top: 1px solid rgba($white, 0.1);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0;
        text-transform: uppercase;
    }

    &__icons {
        display: flex;
    }

    &__link {
        @extend %transition;

        &--visa {
            margin-right: 24px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__img {}
}

.nav-menu {
    break-inside: avoid;

    &__list {
        margin-right: -68px;
        column-count: 3;
        column-gap: 77px;
    }

    &__item {
        margin-bottom: 18px;
    }

    &__link {
        font-weight: 400;
        @extend %transition;

        &:hover {
            opacity: 0.7;
        }
    }
}

.socials {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 12px;
    }

    &__link {
        display: block;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        @extend %transition;

        &:hover,
        &:active {
            opacity: 0.7;
        }
    }
}