.promo {
    background-color: $silver-100;
    text-align: center;

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -15px -15px 29px;

        @include mw($_576) {
            margin: 0 0 9px;
        }
    }

    &__item {
        max-width: 300px;
        width: 100%;
        margin: 15px 15px;
        @extend %radius;

        @include mw($_576) {
            margin: 0 0 15px;
        }
    }

    &__card {
        display: flex;
        max-height: 124px;
        min-height: 0;
        padding: 12px;
    }

    &__img {
        object-fit: contain;
        max-width: 100px;
        max-height: 100px;
        margin: 0 12px 0 0;
    }

    &__lable {
        padding: 0;
        min-height: 87px;

        @include mw($_576) {
            min-height: 88px;
        }
    }

    &__price {
        position: absolute;
        left: 124px;
        bottom: 9px;
    }

    &__price-new {
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
    }

    &__availability {
        font-size: 10px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        &--available {
            color: $green-900;
        }

        &--ends {
            color: $red-900;
        }

        &--unavailable {
            color: $silver-600;
        }
    }

    &__star {
        position: absolute;
        right: 14px;
        bottom: 12px;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.1em;
    }

    &__btn {
        padding: 12px 24px;
        font-size: 18px;
        letter-spacing: 0.3px;
        background-color: $green-900;
        @extend %radius;
    }
}