.footer {
    line-height: 1.4;
    color: $white;
    background-color: $dark-800;

    &__logo {
        display: block;
        padding: 31px 0;
    }

    &__logo-img {
        @extend %cover;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__email-item {
        max-width: 306px;
    }

    &__text {
        margin-bottom: 18px;
        line-height: 1;
        font-weight: 400;
    }

    &__contacts {
        max-width: 220px;
    }

    &__contacts-item {
        margin-bottom: 18px;
    }

    &__contacts-link {
        font-weight: 400;
        @extend %transition;
        @extend %textoverflow;
        -webkit-line-clamp: 2;

        &:hover {
            opacity: 0.7;
        }
    }
}