.header {

    &__top {
        padding: 14px;
        color: $white;
        background-color: $dark-800;
        letter-spacing: 0.03em;

        @media (max-width: 768px) {
            padding: 10px 0;
        }

        @media (max-width: 576px) {
            padding: 3px 0;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__burger {
        position: relative;
        display: none;
        padding: 22px;
        background-color: transparent;

        &::before,
        &::after,
        & span {
            content: "";
            position: absolute;
            left: 7px;
            width: 30px;
            height: 2px;
            background-color: $white;
        }

        & span {
            top: 21px;
        }

        &::before {
            top: 12px;
        }

        &::after {
            bottom: 12px;
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__bottom {
        background-color: $green-900;

        @media (max-width: 768px) {
            position: relative;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            padding: 10px 0;
        }

        @media (max-width: 576px) {
            padding: 8px 0;
        }
    }

    &__catalog {
        max-width: 240px;
        width: 100%;
        margin-right: 10px;

        @media (max-width: 992px) {
            order: 2;
            max-width: 100%;
            margin: 10px 0 0 0;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__catalog-btn {
        position: relative;
        width: 100%;
        padding: 12px 38px 12px 61px;
        font-weight: 600;
        line-height: 1.9;
        letter-spacing: 0.3px;
        color: $green-900;
        @extend %radius;
        background-color: $white;
        transition: background-color 0.4s;

        &:hover,
        &:active {
            background-color: #E0EDCF;
            border-radius: 6px 6px 0 0;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            background-repeat: no-repeat;
        }

        &::before {
            left: 18px;
            width: 25px;
            height: 17px;
            background-image: url('../images/svg/nav_icon.svg');
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }

        &::after {
            right: 18px;
            width: 8px;
            height: 8px;
            background-image: url('../images/svg/arrow.svg');
        }
    }
}