.user {
    display: flex;

    &__search {
        display: none;
        width: 44px;
        height: 44px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        transition: background-color 0.4s;

        &:hover {
            background-color: rgba($white, 0.1);
            border-radius: 3px
        }

        &:not(:last-child) {
            margin-right: 13px;

            @media (max-width: 768px) {
                margin-right: 0;
            }
        }

    }

    &__link {
        display: flex;
        align-items: center;
        padding: 7px 11px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__favourite {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 7px 9px 7px 9px;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__basket {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 7px 9px 7px 9px;
    }

    &__number {
        position: absolute;
        top: 0;
        right: 30px;
        padding: 3px 3px;
        font-size: 10px;
        font-weight: 600;
        color: $red-900;
        background-color: $white;
        border-radius: 50%;
        text-align: center;
    }
}